---
layout: default
---

<script>
  alert("WARNING: This site is currently on maintenance and not yet optimized for mobile view!");
</script>
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="kh-intro-bottom">
          <h1 class="display-1">{{ site.data.intro.name }}</h1>
          <p class="lead">{{ site.data.intro.desc }}</p>
          <hr class="my-4">
          <nav class="navbar navbar-expand navbar-light">
            <ul class="navbar-nav mr-auto">
              {% for s in site.data.intro.socials %}
              <li class="nav-item">
                <a href="{{ s.l }}" class="nav-link" target="_blank">
                  <i class="fab fa-{{ s.i }} fa-lg fa-fw"></i>
                </a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 kh-about-left-col"></div>
      <div class="col-md-6 kh-about-right-col">
        <h2 class="display-4">About Me</h2>
        <p class="lead">{{ site.data.about.desc }}</p>
        <table class="table">
          <tbody>
            {% for d in site.data.about.data %}
            <tr>
              <td class="lead">{{ d.t }}:</td>
              <td class="lead">{{ d.v }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<section id="skills">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="display-4">My Skills</h2>
        <div class="row">
          <div class="col-md-6">
            <p class="lead">{{ site.data.skills.lead_desc }}</p>
            <p>{{ site.data.skills.desc }}</p>
          </div>
          <div class="col-md-6">
            {% for s in site.data.skills.skills %}
            <div class="row">
              <div class="col-lg-1 col-2 kh-text-center">
                <p><a target="_blank" href="{{ s.l }}"><i data-toggle="tooltip" data-placement="left" title="{{ s.t }}"
                      class="fab fa-fw fa-2x fa-{{ s.i }}"></i></a></p>
              </div>
              <div class="col-lg-10 col-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: {{ s.p }}%;"
                    aria-valuenow="{{ s.p }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-lg-1 col-2">
                <p class="lead">{{ s.p }}%</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>