<!-- SECTION - COLLABORATION START -->
<section id="collaboration" class="section background-gray-light no-padding-bottom">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title display-inline-block font-family-alt margin-4 no-margin-rl no-margin-top text-extra-large text-uppercase title-underline">
                        <!-- 02. Collaboration -->More Content Coming!
                    </h3>
                    <!--
                    <p class="font-weight-300 title-extra-large-3">
                        While I am not currently accepting new work, I'm always <span class="text-highlight">excited</span> to hear about <span class="font-weight-400">new</span> <span class="text-highlight">ideas</span> and <span class="font-weight-400">collaborations.</span>
                    </p>

                    <p class="font-weight-300 margin-3-5 no-margin-bottom no-margin-rl title-extra-large-3">
                        In the last few years I <span class="font-weight-400">worked</span> and <span class="font-weight-400">collaborated</span> with <span class="text-highlight">agencies</span> such as Kamil Studio, Valet, Echo, & <span class="font-weight-400">many more</span>.
                    </p>
                    -->
                    <p class="font-weight-300 title-extra-large-3 no-margin-bottom">
                        This site is still in progress and far from done. I will finish it as soon as I can (if I'm not lazy, LOL).
                    </p>
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.container -->
    </div>
    <!-- //.section-content -->
</section>
<!-- //SECTION - COLLABORATION END -->