<!-- FOOTER START -->
<footer class="section footer background-gray-light">
    <div style="height: unset; line-height: unset; padding-top: 15px; padding-bottom: 15px;" class="copyright background-gray position-absolute text-center width-100">
        <span class="font-family-alt letter-spacing-1 line-height-none text-small">
            <span style="display: inline-block;">Copyright &copy; {{ site.data.personal_information.forename }} {{ site.data.personal_information.surname }}.</span>
            <span style="display: inline-block;">This site was last updated at {{ "now" | date: "%d-%m-%Y %H:%M" }}.</span>
            <span style="display: inline-block;">All rights reserved.</span>
        </span>
    </div>
    <!-- //.copyright -->
</footer>
<!-- //FOOTER END -->